.vs/
ThalesCore/bin/
ThalesConsoleSimulator/bin/
ThalesCore.Tests/bin/
ThalesCore.Tests.Mono/bin/
ThalesKeyManager/bin/
ThalesMobileSimulator/bin/
ThalesPVVClashingDemo/bin/
ThalesServiceSimulator/bin/
ThalesServiceSimulatorSetup/bin/
ThalesSim.Core/bin/
ThalesSim.Tests.Unit/bin/
ThalesWinSimulator/bin/
ThalesWinSimulatorSetup/bin/
ThalesCore/obj/
ThalesConsoleSimulator/obj/
ThalesCore.Tests/obj/
ThalesCore.Tests.Mono/obj/
ThalesKeyManager/obj/
ThalesMobileSimulator/obj/
ThalesPVVClashingDemo/obj/
ThalesServiceSimulator/obj/
ThalesServiceSimulatorSetup/obj/
ThalesSim.Core/obj/
ThalesSim.Tests.Unit/obj/
ThalesWinSimulator/obj/
ThalesWinSimulatorSetup/obj/